<div class="primary">qsdfqsdf</div>
<div class="secondary">qsdfqsdfq</div>

<h1>Bilali soufiane</h1>

<h3>moi</h3>

<button (click)="changeTheme('default')">default theme</button>
<button (click)="changeTheme('dark')">dark theme</button>
<button (click)="changeTheme('premium')">premium theme</button>
